{% extends "layout.html" %}

{% block title %}The current time{% endblock %}

{% block content %}
<h1>Events</h1>
{% for event in events %}
<ul class="events">
    <li>
        <div class="event-name">{{ event.name }}</div>
        <div class="event-time event-start">{{ event.start }}</div>
        <div class="event-time event-end">{{ event.end }}</div>
        <div class="event-stats event-invited">{{ event.invited }}</div>
        <div class="event-stats event-going">{{ event.going }}</div>
        <div class="event-stats event-maybe">{{ event.maybe }}</div>
        <a class="event-details" href="/event/{{ event.id }}">details</a>
    </li>
</ul>
{% endfor %}
{% endblock %}
